/*Universal Styling*/
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Primary colors*/
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --very_light_gray: hsl(0, 0%, 95%);
    --transperent-white: hsla(0, 0%, 100%, 0.75);
}

body {
    background-color: var(--very_light_gray);
    min-height: 100vh;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}

main{
    max-width: 960px;
    margin: 0 auto;
    padding: 80px 0;
}
/*General container styling start*/

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 12px;
}
/*General container styling end*/

/*Individual Box sizing start*/
.sedans{
    background-color: var(--bright-orange);
    border-radius: 10px 0 0 10px;
}

.suvs{
    background-color: var(--Dark-cyan);
}

.luxury{
   background-color: var(--very-dark-cyan);
   border-radius: 0 10px 10px 0;
}
/*individual box sizing end*/
    
.card{
    min-height: 25rem;
    max-width: 17rem;
    padding: 2.5rem;
}

.text-header{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: var(--very_light_gray);
    font-size: 30px;
    margin: 20px 0;
}

.card p {
    color: var(--transperent-white);
    line-height: 1.6;
}

.card a {
    text-decoration: none;
    background-color: var(--very_light_gray);
    padding: 13px 27px;
    border-radius: 26px;
    margin-top: 60px;
    display: inline-block;
    border: 2px solid var(--very_light_gray);
    transition: all 0.3s ease-in-out;
}

.sedans a{
    color: var(--bright-orange);
}

.suvs a{
    color: var(--Dark-cyan);
}

.luxury a{
    color: var(--very-dark-cyan);
}

.card a:hover{
    color: var(--very_light_gray);
    background: transparent;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .sedans {
        border-radius: 10px 10px 0 0;
    }
    .luxury{
        border-radius: 0 0 10px 10px;
    }
}

@media only screen and (max-width: 425px) {
    .card_wrapper {
        margin: 32px 8px;
    }
}